<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Join the secret of top coaches!</h2>
                <p>Top coaches use BB Links to save time and reduce stress while on the go!<br><br>Never again do you need to fumble your way through the frustration of creating the correct referral links.</p>
                <div class="badges">
                    <a class="badge-link" target="_blank" href="https://itunes.apple.com/app/id1061669235?mt=8">
                        <img src="/img/app-store-badge.svg" alt="">
                    </a>
                    <a class="badge-link" target="_blank" href='https://play.google.com/store/apps/details?id=com.justinstanley.bblinks&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                        <img alt='Get it on Google Play' src='/img/google-play-badge.svg'/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
