
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>100% Created By A Coach. Full-Featured.</h2>
                        <p class="text-muted">Ever been in a situation where a potential customer messages you and you're in the middle of something with your family? The panic of wanting to stop what you're doing to reply with the link to the product they're asking about, but knowing it'll take too much time?</p>
                        <br/>
                        <p class="text-muted">That's where BB Links shines! Manage your coach business while away from your computer super quickly, and with as little as friction as possible! So you can get back to what's important in your busy life without compromising your growing business!</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <img src="/img/iphone_x_silver_3.png" class="img-responsive" alt="BB Links Videos Tab">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Faster Than Web</h3>
                                    <p class="text-muted">Integrated search. Beautiful images. Pricing and promotions info. Instantly share links customized with your coach ID and screen name!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-settings text-primary"></i>
                                    <h3>Highly Configurable</h3>
                                    <p class="text-muted">Change countries and languages to create the perfect link for your customer. Add multiple coach accounts and switch in seconds.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-star text-primary"></i>
                                    <h3>Save Your Favorites</h3>
                                    <p class="text-muted">Star your favorite products and videos for even quicker access!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-link text-primary"></i>
                                    <h3>All Important Links</h3>
                                    <p class="text-muted">Open the Coach Online Office, FAQ, Chat, Forms & more directly in Safari in-app!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
