<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner" align="center">
                        <img src="/img/app-icon.png" class="img-icon" alt="" width=180 height=180>
                        <h1><b>BB Links</b></h1>
                            <h1>The app that <b>thousands</b> of Beachbody coaches use to grow and manage their coaching business on the go!</h1>
                        <a href="#download" class="btn btn-outline btn-xl page-scroll">Download Now for Free!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <img src="/img/iphone_x_silver_1.png" class="img-responsive" alt="BB Links Product Share Page">
                </div>
            </div>
        </div>
    </div>
</header>
