<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <img src="/img/app-icon.png" class="img-icon" alt="">
                        <h1><b>BB Links<b></h3>
                        <h1>The essential tool for Beachbody coaches to manage their coaching business on the go!</h1>
                        <a href="#download" class="btn btn-outline btn-xl page-scroll">Download Now for Free!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="/img/iPhone-plus-products.jpg" class="img-responsive" alt="BB Links Product Share Page">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
