<section id="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Testimonials</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-life-ring wow bounceIn text-primary"></i>
                    <h3>Life Saver!</h3>
                    <p class="text-muted">"Thanks so much for the app! What a life saver!! I've tried other sites and they don't work. This is just what we needed as coaches!!"</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Works Flawlessly!</h3>
                    <p class="text-muted">"This app is awesome and a must have for all coaches. I'm very new to coaching and this app helps me quickly access all the products Beachbody offers and links my customer directly to my page! Works flawlessly every time! Thank you thank you thank you!"</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Thank You!</h3>
                    <p class="text-muted">"Justin, THANK YOU for creating the BB app for coach links! It is an amazing tool that I have already started using."</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-sitemap wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Helping My Team!</h3>
                    <p class="text-muted">"Thanks for the app it's helping my team so easy please keep it up and bug free! We love it!"</p>
                </div>
            </div>
        </div>
    </div>
</section>
