<section id="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Coach Testimonials</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-dashboard wow bounceIn text-primary"></i>
                    <h3>Game Changer!</h3>
                    <p class="text-muted">"This app is a game changer! It’s basically like the Coach Online Office at my fingertips. I can’t even tell you how many people I’ve been able to help because I could send them links to products and BOD quickly and easily. Thank you SO much for your hard work!"</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Everything I Need!</h3>
                    <p class="text-muted">"Having one place to access everything i need on my mobile is just extremely helpful!! Thank you for being a genius and creating this app for us!"</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-sitemap wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Super Simple!</h3>
                    <p class="text-muted">"BB Links makes it so quick and easy to help a client find exactly what they are looking for. It makes signing up new clients and coaches super simple!"</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Works Flawlessly!</h3>
                    <p class="text-muted">"This app is awesome and a must have for all coaches. I'm very new to coaching and this app helps me quickly access all the products Beachbody offers and links my customer directly to my page! Works flawlessly every time! Thank you thank you thank you!"</p>
                </div>
            </div>
        </div>
    </div>
</section>
